/*estilização do corpo da pagina*/

body{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family: 'Tahoma', "Arial";
}
/*Estilização da sessão HEADER da pagina*/
header{
    background: linear-gradient(rgba(140, 79, 165, 0.899), rgba(0, 0, 0, 1));
    padding: 20px 0;
}
/*Estilização da sessão NAV*/
nav{
    position: absolute;
    top: 130px;
    right: -450px;
}
nav li{
    display: inline;
    margin: 0px 0px 0px 15px;
}
nav a{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: rgb(21, 67, 168);
    text-decoration: underline;
}
/*Estilização das listasda pagina*/
ul{
    list-style:none;
}

/*Estilização da logotipo*/

.logo_caixa{
    right: 260px;
    width: 840px; 
    position:relative;
    margin: auto;
}

.logo_empresa{
    width: 30%;
}

h2{
    color: rgb(172, 185, 241);
    position:absolute;
    top: 60px;
    left: 345px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size:40px;
}

.separas{
    background: linear-gradient(rgb(0, 0, 0), #000000);
    margin-top: 0px;
    padding: 20px;
}
.image_banner{
    width: 100%;
}

/* Aula 6 Sobre a empresa e baianin*/

h3.titulo-principal{
    color: #ffffff;
    font-size: 25px;
    margin-left: 50px;
    line-height: 1;
}

main p{
    margin-left: 10px;
    line-height: 1;

}

.principal{
    margin: -10px; 
    margin-left: 0px;
    padding: 2em 0px;
    background: linear-gradient(rgba(38, 22, 67, 0.92), rgba(0, 0, 0));
    text-align: justify;
    
    
}

.principal p{
    margin-right: 100px;
    color:rgb(255, 255, 255)
}

.principal strong{
    font-weight: bold;
    

}

.principal em{
    font-style: italic;
    
}

.meta{
    width: 295px;
    float: left;
    margin: -20px 20px 20px 0;
}



/*MAPA ta ai*/
.Mapa h3{
    color: #ffffff;
    margin: 10px 11px 2em;
    text-align: center;
    margin-left: 60px;
    text-decoration: underline;
    font-style:oblique;
    font-weight: bold;
}

.Mapa{
    padding: 3em 0;
    background: linear-gradient(rgba(0, 0, 0), rgb(83, 9, 102))
}

.Map_visao{
    width: 550px;
    margin: 0 auto;
}


.Mapa p{
    color: #ffffff;
    margin: 0px 0px 2em;
    text-align: center;
    margin-left: 60px;
}

/*BENEFICIOS*/

.Beneficios{
    padding: 3em 0;
    background-color: red;
    /*background:rgb(83, 9, 102);*/
}

.Titulo{
    color:#ffffff;
    text-align: center;
    font-size: 30px;
}

.conteudo{
    
    /*width: 850px;*/
    text-align: justify;
    color:rgb(255, 255, 255);
    margin-left: 300px;
}
.Lista_bene{
    width: 50%;
    display: inline-block;
    vertical-align: center;
}

.Img{
    width: 20%;
    opacity: 1;
    transition: 400ms;
    text-shadow: 10px 10px 5px 0px black;
}
.Img:hover{
    opacity: 0.7;
}
.item{
    line-height: 1.5;
}
.item:before{
    content:"☑";
}

.Video{
    text-align: center;
    width: 760px;
    margin: 2em auto;
}

nav a:hover{
    color: rgb(41, 158, 255);
    text-decoration: underline;
}
footer{
    text-align: center;
    background-color: #170a1dc5;
    padding: 40px 0;

}
.image_banner{
    width: 100%;
}
.roda{
    width: 10%;
}
.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}
